/* h1,h2 contains the same style.*/

h1,h2{
    color:green;
    font-size: 22pt;
    font-family: 'Times New Roman';
    text-align: center;
}

/* id a calls for the paragraph in another file which allows 
us to edit its design.*/

#a,#b {
    color: black;
    font-size: 12pt;
    font-family: 'Times New Roman';
    text-align: center;
    bottom: 50%;
}

footer{
    opacity: 80%;
    position: fixed;
    bottom: 5%;
}